body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.canvas-container{
  border:solid thin;
}
#h4-canvas{
  background-color: aliceblue;
  width:100%;
  height:100%;
}
